<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title  ">
        About the service
      </h2>
      <p
        class=" ">
        Accuracy Shaped by Healthcare Experts. Speed Scaled by AI.
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          AccelonCode blends deep healthcare expertise with cutting-edge AI—so routine charts code themselves and your
          team handles exceptions.
        </p>
      </div>
    </div>



    <div
      class="w-full md:w-[90%] lg:w-[80%] mx-auto  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[50px] mt-[30px]">
      <div  class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img1.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Diagnosis          Procedure
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            compatibility (crosswalks, sequencing)
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img2.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Diagnosis          Medication
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            alignment (contraindications, coverage logic)
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Procedure           Procedure
          </h3>

          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
             conflicts (mutual exclusivity, bundling)
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img4.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Age/Gender
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            appropriateness checks
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img5.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Provider-specific
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            billing rules
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img6.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Insurance contractual & technical
          </h3>

          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            rules
          </p>
        </div>
      </div>




    </div>



  </div>

</section>
