<section class="mt-[60px]">

  <div class="container relative ">

    <img class=" absolute top-[-50px] left-[50%] translate-x-[-50%] z-[-1] "
      src="../../../../assets/Images/landingPage/Untitled@3-1536x735 1.png" alt="image">

    <div class="title text-center w-full lg:w-[85%] mx-auto mb-[30px] ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        The Accelon Difference: Expertise You Can Hear
      </p>
    </div>

    <div class="flex flex-col lg:flex-row justify-between items-center">
      <div class="w-full lg:w-[50%]">
        <img class="w-[80%] mx-auto " src="../../../../assets/Images/medicalContactCenter/healty3.png"
          alt="image about">
      </div>

      <div class="w-full lg:w-[50%]  ">
        <ul class="list-disc list-inside">
          <li
            class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

            Medically informed
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
              conversations handled with empathy and accuracy.
            </span>
          </li>
          <li
            class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            Deep local fluency—
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
              cultural nuance and communication styles built in

            </span>
          </li>
          <li
            class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            Operational leverage,
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
              not overhead: strategic investment in retention and growth
            </span>
          </li>
        </ul>
        <div class="mt-[30px]">
          <button class="btn-gradient">
            <span>See Patient Experience in Action</span>
            <i class="fas fa-arrow-right ml-2"></i>
          </button>
        </div>
      </div>
    </div>



  </div>

</section>
