<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class=" ">
        More Than AI—A Partnership in Precision
      </p>
    </div>


    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">


      <div data-aos="fade-right" class="w-full lg:w-[45%] ">
        <img class="w-full md:w-[90%] mx-auto h-full md:h-[300px] " loading="lazy"
          src="../../../../assets/Images/landingPage/doctor.png" alt="image">
      </div>

      <div data-aos="fade-left" class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">
        <div class="mb-[10px] space-y-3 ">
          <div class="flex gap-2">
            <div
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]  rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                125M+ medical records
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  used in training our top-notch models.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]  rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Compliance built-in
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  : Saudi & U.S. coding standards, HIPAA compliant
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]  rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Plug & play integration
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  with all HIS/EHRs.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2 items-start">
            <div
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]  rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Continuous learning
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  supervised by certified coders and clinical experts.
                </span>
              </p>
            </div>
          </div>

        </div>


      </div>



    </div>





  </div>

</section>
