<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class=" ">
        From Operational Headaches To Celebrated Successes
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          A leading polyclinic in Riyadh was struggling with over 40% claim rejections and stagnant revenue. Within months
          of partnering with Accelon Health, they saw a 25% monthly revenue uplift and a 50% reduction in backlog. Staff
          workload eased; patient access improved.”
        </p>
      </div>
    </div>


    <div class="flex flex-col lg:flex-row justify-center items-center mt-[40px] ">

      <div data-aos="fade-right" class="w-full lg:w-[45%]  ">
        <div class="w-fit  mx-auto" >

          <p
            class="text-[#1E1E1EB0] font-semibold  text-[16px] md:text-[18px] lg:text-[20px] leading-[25px] lg:leading-[30px] mb-[30px] ">
            Benchmarks We Deliver
          </p>
          <ul
            class="text-[#1E1E1E] list-disc list-inside space-y-4 font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px] ">
            <li>
              Net Collection Rate: 95%+
            </li>
            <li>
              Clean Claim Ratio: 99%+
            </li>
            <li>
              Monthly Revenue Increase: ~25%+
            </li>
          </ul>
        </div>
      </div>
      <div data-aos="fade-left" class="w-full lg:w-[50%] relative ">
        <img class="w-[40%] mx-auto "
          src="../../../../assets/Images/landingPage/Group 552.png"
          alt="image about">
        <img class="absolute  top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[-1] pointer-events-none select-none"
          src="../../../../assets/Images/landingPage/Eclipse (1).png"
          alt="image about">
      </div>
    </div>




  </div>

</section>
