<section class="relative">

  <img class=" hidden md:block absolute h-[100%] top-[-50%] right-[0px] z-[-1] " src="../../../../assets/Images/landingPage/hero-section/Eclipse.png" alt="">

        <img class=" hidden md:block absolute top-[30px] right-[50px] w-[100px]  " src="../../../../assets/Images/landingPage/hero-section/twemoji_dna.png" alt="">

        <img class=" hidden md:block  absolute top-[15%] left-[10%] w-[50px]  " src="../../../../assets/Images/landingPage/hero-section/star2-img.png" alt="">



          <img class=" hidden md:block absolute top-[20px] left-[30%] w-[50px]  " src="../../../../assets/Images/landingPage/hero-section/star-img.png" alt="">


        <img class=" hidden md:block absolute top-[-50px] right-[60px] w-[50px] z-[3] " src="../../../../assets/Images/landingPage/hero-section/star3-img.png" alt="">



  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class="  ">
        Your Complete Revenue Cycle, Mastered. Your Margins, Transformed.
      </p>
    </div>


    <div data-aos="fade-right" class="w-full h-[520px] card relative mt-[30px]">

      <div  class="absolute bottom-[20px] left-0 right-0 md:left-[20px] md:right-[20px] text-center " >
        <p
          class="text-[#FFFFFF] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]   ">
          Leap beyond traditional outsourcing. Our all-inclusive RCM model operates as your strategic command center—from
          first patient call to cash in bank. We deliver measurable financial lift, not just task coverage.

        </p>
      </div>

    </div>


    <div data-aos="fade-left" class="text-center mt-[30px] " >
      <button class="btn-gradient w-full md:w-[70%] lg:w-[40%] ">
        <span>Stop Revenue Leakage. Start Here</span>
        <i class="fas fa-arrow-right ml-2"></i>
      </button>
    </div>


  </div>

</section>
