<section>

  <div class="container">
    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class=" ">
        Fluent in Business, Fluent in Culture
      </p>
      <p class=" ">
        Your 24/7 Multilingual Partner
      </p>

    </div>
    <div data-aos="fade-down" class="text-center md:text-left " >
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[20px] ">
        Hears the words, understands the meaning—intent, tone, urgency across Arabic dialects and English.
      </p>
    </div>

    <div
      class="w-full md:w-[90%] lg:w-[80%] mx-auto  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[50px] mt-[30px]">
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Dialect personalization
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            higher engagement and fewer hang-ups

          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img4.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Adaptive script engin
          </h3>

          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            fewer escalations as the agent learns in real time.
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img5.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Auto-logging + EHR/CRM sync
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            dramatically reduced admin time
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img6.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Predictive routing
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            faster answers, happier callers
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img7.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Elastic availability
          </h3>

          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            zero wait time, scales with demand
          </p>
        </div>
      </div>




    </div>


  </div>

</section>
