.card {
  position: relative;
  /* z-index: 1; */
}

.card::before {
  content: '';
  position: absolute;
  top: -10px; /* تبان من فوق */
  left: 10px; /* تتحرك يمين شوية */
  width: calc(100% + 10px); /* أوسع شوية */
  height: calc(100% + 15px); /* أطول شوية */
  border-radius: 8px;
  background-color: #0078C7;
  z-index: -1;
  transform: rotate(-3deg); /* ميل خفيف */
  box-shadow: 0px 8px 20px #0078C752; /* ظل خفيف */
}
