<app-revenuehero
  title="AccelonBeauty"
  subtitle="Technology solution"
  url=""
></app-revenuehero>

<app-luxury></app-luxury>
<app-empty-aisle></app-empty-aisle>
<app-technologies></app-technologies>
<app-beauty-retail></app-beauty-retail>
<app-revolution></app-revolution>
<app-beauty-tech></app-beauty-tech>




<app-practice
  title=" Ready to Transform Every Customer Visit into a Signature Beauty Experience?"
  description="Put AI confidence and AR magic in front of every customer.AccelonBeauty makes your retail or clinic the place where beauty feels certain"
  buttonText="Schedule Your AccelonBeauty Demo"
  url=""
></app-practice>
