<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        We’re Healthcare Architects—Building Your Foundation for Growth
      </p>
    </div>


    <div
      class="grid grid-cols-1 md:grid-cols-2 w-full gap-[30px] md:gap-[70px] mt-[30px] md:w-[80%] lg:w-[50%] mx-auto ">
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card p-3 ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonAudit/img1.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            The Revenue Engine: End-to-End RCM & BPO
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            This is our heartbeat. We manage your entire revenue cycle,
            ...<span class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card p-3 ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img5.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            The Strategic Compass: Consulting & Compliance
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            We are your navigators in the complex regulatory landscape of healthcare regulations...<span
              class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card p-3 ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/medicalContactCenter/Vector3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            The Human Connection: Patient-Centric Solutions
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Healthcare is human. With AccelonVoice (multilingual, Arabic/English), ....<span
              class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card p-3 ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonVoice/img6.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            The Intelligent Advantage: Smart Automation
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            AccelonCode, AccelonAudit, and AccelonNotes act as ....<span
              class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>




    </div>



  </div>

</section>
