<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Why AccelonAudit Catches What Human Reviewers Miss
      </p>
    </div>

    <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[100%] lg:leading-[140%]">
        Tools catch errors. We build assurance. AccelonAudit blends regional payer fluency with domain-trained AI—so
        your team sees fewer surprises and cleaner first-pass claims.
      </p>
    </div>

    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

            <div class="w-full lg:w-[45%] ">
        <img class="w-full md:w-[90%] mx-auto h-full  " loading="lazy"
          src="../../../../assets/Images/AccelonAudit/img7.png" alt="image">
      </div>


      <div class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">
        <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px] mb-[15px] " >
          Key Outcomes:
        </p>
        <div class="mb-[10px] space-y-3 ">
          <div class="flex gap-2">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                40%+ reduction
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  in claim rejections
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Faster reimbursemen
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  with cleaner claims
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Full regulatory compliance
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  built-in
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2 items-start">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Seamless integration
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  with your existing systems
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2 items-start">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Real-time alerts
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  with actionable insights
                </span>
              </p>
            </div>
          </div>

        </div>


      </div>



    </div>


  </div>

</section>
