<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class="">
        What Happens When We Take Over Patient Communication
      </p>
    </div>


    <div class="flex  flex-col-reverse lg:flex-row justify-between mt-[30px] items-center ">

      <div data-aos="fade-right" class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">
        <div class="mb-[10px] space-y-2 ">
          <div class="flex gap-2">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                No-shows fall noticeably
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  with intelligent reminder sequences.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Patient satisfaction rises
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  because someone always answers—and actually helps.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Clinicians get their focus back—
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  fewer interruptions, more time for medicine.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2 items-start">
            <div
              class="w-[30px] h-[30px] min-w-[30px] min-h-[30px] rounded-full border border-[#0078C7] flex justify-center items-center shrink-0">
              <i class="fas fa-check text-[#0078C7] text-[16px]"></i>
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
                Revenue lifts
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  through fuller schedules, better utilization, and reactivated patients
                </span>
              </p>
            </div>
          </div>

        </div>

        <div class="mt-[30px] text-center ">
          <button class="btn-gradient">
            <span  >Speak to a Solutions Expert</span>
            <i class="fas fa-arrow-right ml-2"></i>
          </button>
        </div>

      </div>


      <div data-aos="fade-left" class="w-full lg:w-[45%] ">
        <img class="w-full md:w-[90%] mx-auto h-full md:h-[300px] " loading="lazy"
          src="../../../../assets/Images/medicalContactCenter/healty2.png" alt="image">
      </div>

    </div>





  </div>

</section>
