<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        The Compliance Maze Is Complex. Your Success Shouldn’t Be.
      </p>
    </div>


    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">
      <div class="w-full  lg:w-[45%] " >
        <div class="w-fit mx-auto " >
          <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[100%] lg:leading-[140%]" >
            Keeping pace with evolving standards and payer rules is a full-time job—one that steals focus from care.
            Missteps mean delays, penalties, and leakage. We turn regulatory hurdles into growth momentum.
          </p>
        </div>
      </div>
      <div class="w-full mt-[30px] lg:mt-0 lg:w-[45%]">
        <img class="w-full h-full " loading="lazy" src="../../../../assets/Images/healthCare/doctor-offering.png" alt="image">
      </div>
    </div>





  </div>

</section>
