<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title  ">
        About the service
      </h2>
      <p class=" ">
        Built for Healthcare, Built For Now
      </p>

    </div>


    <div data-aos="fade-up" class="flex flex-col justify-center items-center mt-[30px]">

      <div class="flex items-center">
        <div class="w-[50%] flex justify-end px-[20px] md:px-[40px] text-[#0B66C3]  ">
          <div class=" w-[90px] h-[70px] md:w-fit">
            <img src="../../../../assets/Images/About/img4.png" alt="icon">
          </div>
        </div>
        <div class="w-[50%] p-[20px] md:p-[40px] relative border-l-[3px] border-dashed border-l-[#D9D9D9]">
          <div
            class="w-[25px] h-[25px] md:w-[50px] md:h-[50px] flex justify-center items-center bg-[#F5F8FF] rounded-full absolute top-[50%] left-[-13px] md:left-[-26px] translate-y-[-50%] ">
            <div
              class=" w-[10px] h-[10px] md:w-[15px] md:h-[15px] bg-[#C1B5B566] rounded-full flex justify-center items-center  ">
              <div class="w-[5px] h-[5px] md:w-[8px] md:h-[8px] bg-[#0B66C3] rounded-full ">

              </div>
            </div>
          </div>
          <p
            class=" text-[#6C757D] font-medium text-[10px] md:text-[18px] lg:text-[22px] leading-[15px] md:leading-[140%] ">
            <span class="text-[#1E1E1E] font-semibold ">
              Saudi Arabia & GCC:
            </span>
            We possess deep, firsthand knowledge of the Saudi Council for Health Insurance (CHI) regulations, NPHIES,
            and SBS coding. We don't just follow rules; we master them, ensuring your operations are compliant by
            design.
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="w-[50%] p-[20px] md:p-[40px] relative border-r-[3px] border-dashed border-r-[#D9D9D9]">
          <div
            class="w-[25px] h-[25px] md:w-[50px] md:h-[50px] flex justify-center items-center bg-[#F5F8FF] rounded-full absolute top-[50%] right-[-13px] md:right-[-26px] translate-y-[-50%] ">
            <div
              class=" w-[10px] h-[10px] md:w-[15px] md:h-[15px] bg-[#C1B5B566] rounded-full flex justify-center items-center  ">
              <div class="w-[5px] h-[5px] md:w-[8px] md:h-[8px] bg-[#F08E51] rounded-full ">

              </div>
            </div>
          </div>
          <p
            class=" text-[#6C757D] font-medium text-[10px] md:text-[18px] lg:text-[22px] leading-[15px] md:leading-[140%] ">
            <span class="text-[#1E1E1E] font-semibold ">
              Egypt:
            </span>
            As a key delivery hub, we operate with an intimate understanding of the Egyptian healthcare market and UHIA
            regulations—delivering cost-effective excellence without compromising quality.
          </p>
        </div>
        <div class="w-[50%] flex justify-start px-[20px] md:px-[40px]  ">
          <div class="w- w-[90px] h-[70px] md:fit">
            <img src="../../../../assets/Images/About/img5.png" alt="icon">
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <div class="w-[50%] flex justify-end px-[20px] md:px-[40px]  ">
          <div class=" w-[90px] h-[70px] md:w-fit">
            <img src="../../../../assets/Images/About/img6.png" alt="icon">
          </div>
        </div>
        <div class="w-[50%] p-[20px] md:p-[40px] relative border-l-[3px] border-dashed border-l-[#D9D9D9]">
          <div
            class="w-[25px] h-[25px] md:w-[50px] md:h-[50px] flex justify-center items-center bg-[#F5F8FF] rounded-full absolute top-[50%] left-[-13px] md:left-[-26px] translate-y-[-50%] ">
            <div
              class=" w-[10px] h-[10px] md:w-[15px] md:h-[15px] bg-[#C1B5B566] rounded-full flex justify-center items-center  ">
              <div class="w-[5px] h-[5px] md:w-[8px] md:h-[8px] bg-[#4E8754] rounded-full ">

              </div>
            </div>
          </div>
          <p
            class=" text-[#6C757D] font-medium text-[10px] md:text-[18px] lg:text-[22px] leading-[15px] md:leading-[140%] ">
            <span class="text-[#1E1E1E] font-semibold ">
              United States:
            </span>
            <span class="block" >
              We translate global best practices into the U.S. context, guiding providers through a complex billing
              ecosystem with clarity, consistency, and control.
            </span>
            Bottom line: Wherever you are—or wherever you’re headed—you have a partner who speaks the language,
            culturally and clinically, and turns local nuance into operational advantage.
          </p>
        </div>
      </div>

    </div>

    <div class="mt-[30px] text-center ">
      <button class="btn-gradiented">
        <span>
          Contact Us
        </span>
        <i class="fas fa-arrow-right  ml-2"></i>
      </button>
    </div>



  </div>

</section>
