.card {
  position: relative;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 2; /* فوق الصورة وتحت النص */
}

.card:hover::after {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 60.72%, rgba(0, 0, 0, 0.66) 80.96%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50.49%, #0078C7 72.13%);
  opacity: 1;
}
