<section class="">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <p class=" ">
        Why Leading Providers Choose Accelon Health ?
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          Our teams live and breathe the regulatory landscapes of the MENA region and key global markets. We have deep
          knowledge of every local payer’s rule, ensuring every claim is compliant by design. This multinational
          expertise
          is baked into everything we do.
        </p>
      </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-[40px] ">
      <div data-aos="fade-up" class="rounded-[10px] relative overflow-hidden group card">

        <!-- الصورة -->
        <img class="w-full h-full object-cover rounded-[10px] transition-all duration-500 group-hover:scale-110"
          src="../../../../assets/Images/landingPage/Component 78.png" alt="">

        <!-- المحتوى -->
        <div
          class="absolute bottom-0 left-0 w-full z-[5] p-[20px] opacity-0 translate-y-5 transition-all duration-500 group-hover:opacity-100 group-hover:translate-y-0 bg-gradient-to-t from-black/70 to-transparent">

          <h2 class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[130%]">
            The Power of "And".
          </h2>

          <p class="text-white font-normal text-[12px] md:text-[14px] lg:text-[16px] leading-[130%]">
            Expertise and technology in one seamless engine.
          </p>

        </div>
      </div>


      <div data-aos="fade-up" data-aos-delay="300" class="rounded-[10px] relative overflow-hidden group card ">
        <img class="w-full h-full object-cover rounded-[10px] transition-all duration-500 group-hover:scale-110" src="../../../../assets/Images/landingPage/Component 76.png" alt="">

        <div
          class="absolute bottom-0 left-0 w-full z-[5] p-[20px] opacity-0 translate-y-5 transition-all duration-500 group-hover:opacity-100 group-hover:translate-y-0 bg-gradient-to-t from-black/70 to-transparent">

          <h2 class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[130%]">
            The Power of "And".
          </h2>

          <p class="text-white font-normal text-[12px] md:text-[14px] lg:text-[16px] leading-[130%]">
            Expertise and technology in one seamless engine.
          </p>

        </div>

      </div>

      <div data-aos="fade-up" data-aos-delay="300" class="rounded-[10px] relative overflow-hidden group card ">
        <img class="w-full h-full object-cover rounded-[10px] transition-all duration-500 group-hover:scale-110" src="../../../../assets/Images/landingPage/post-img-9 3.png" alt="">

        <div
          class="absolute bottom-0 left-0 w-full z-[5] p-[20px] opacity-0 translate-y-5 transition-all duration-500 group-hover:opacity-100 group-hover:translate-y-0 bg-gradient-to-t from-black/70 to-transparent">

          <h2 class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[130%]">
            The Power of "And".
          </h2>

          <p class="text-white font-normal text-[12px] md:text-[14px] lg:text-[16px] leading-[130%]">
            Expertise and technology in one seamless engine.
          </p>

        </div>


      </div>

    </div>



  </div>

</section>
