<section class="">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class=" ">
        Why Leading Providers Choose Accelon Health ?
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          Our teams live and breathe the regulatory landscapes of the MENA region and key global markets. We have deep
          knowledge of every local payer’s rule, ensuring every claim is compliant by design. This multinational expertise
          is baked into everything we do.
        </p>
      </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-[40px] ">
      <div class="rounded-[10px] overflow-hidden">
        <img class="w-full rounded-[10px] transform transition-transform duration-500 hover:scale-110"
          src="../../../../assets/Images/landingPage/Component 78.png" alt="">
      </div>

      <div class="rounded-[10px] overflow-hidden">
        <img class="w-full rounded-[10px] transform transition-transform duration-500 hover:scale-110"
          src="../../../../assets/Images/landingPage/Component 76.png" alt="">
      </div>

      <div class="rounded-[10px] overflow-hidden">
        <img class="w-full rounded-[10px] transform transition-transform duration-500 hover:scale-110"
          src="../../../../assets/Images/landingPage/post-img-9 3.png" alt="">
      </div>

    </div>



  </div>

</section>
