<app-revenuehero
  title="AccelonCode"
  subtitle="Technology solution"
  url=""
></app-revenuehero>

<app-medical-coding></app-medical-coding>

<app-moment></app-moment>
<app-accuracy-shaped></app-accuracy-shaped>
<app-coding-metrics></app-coding-metrics>
<app-precision></app-precision>


<app-practice
  title="Ready to Code at the Speed of Thought?"
  description="Every day a claim sits in coding is a day you're voluntarily delaying your own cash flow. Every coding error is revenue you'll fight for months to recover, if you recover it at all."
  buttonText="Schedule Your AccelonCode Demo"
  url=""
></app-practice>
