<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Beauty Tech That Works as Hard as You Do
      </p>
    </div>


    <div class="mt-[30px] ">

      <div class="w-full md:w-[80%] mx-auto ">

        <p class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mb-[20px]">
          Our Edge:
        </p>

        <div class="mb-[10px] space-y-4 ">
          <div class="flex items-center gap-4">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img10.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Plug-and-play setup –
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  live in days, not months.
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img11.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                No extra hardware –
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  uses existing smart mirrors and tablets.
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img12.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Multi-store scalability
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  for growing beauty empires.
                </span>
              </p>
            </div>
          </div>

        </div>


      </div>

    </div>





  </div>

</section>
