<app-hero></app-hero>
<app-aboutus></app-aboutus>
<app-feature></app-feature>
<app-engine></app-engine>
<app-rcm></app-rcm>
<app-growth></app-growth>
<app-automation></app-automation>
<app-why></app-why>
<app-successes></app-successes>
<app-video></app-video>
<app-trusted-partners></app-trusted-partners>
<app-our-standards></app-our-standards>
<app-practice
  title="Ready to Build a Self-Driving Healthcare Practice?"
  description="Join hundreds of providers who use Accelon Health to automate operations and maximize growth."
  buttonText="Book a Free Consultation Now"
  url=""
></app-practice>
