<section class="">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class=" ">
        The Communication Gap
      </p>
      <p class="desc  ">
        Silence Costs Revenue. We Bring Back the Voice.
      </p>

    </div>
    <div data-aos="fade-down" class="mx-auto  " >
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[20px] ">
        Missed calls and long holds translate into lost bookings, late follow-ups, and preventable customer attrition.
        Whether you run a clinic, a retail, or a service operation, voice is still the trust channel. AccelonVoice makes
        it scalable.
      </p>
    </div>



    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

      <div data-aos="fade-right" class="w-full mb-[30px] lg:mb-0 lg:w-[45%] ">
        <div class="w-fit mx-auto ">
          <img class="" src="../../../../assets/Images/AccelonVoice/img2.png" alt="medical-coding">
        </div>
      </div>

      <div data-aos="fade-left" class="w-full lg:w-[45%]  ">
        <ul class="list-disc pl-[20px] md:pl-0 text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] space-y-3 " >
          <li>
            Unanswered calls → lost appointments and sales
          </li>
          <li>
            Repetitive queries → front-desk fatigue and higher costs
          </li>
          <li>
            Weak follow-through → no-shows and low satisfaction
          </li>
        </ul>
      </div>

    </div>


  </div>

</section>
