<section class="">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        Features
      </h2>
      <p
        class=" ">
        Cross-Industry Use Cases
      </p>
    </div>

    <div class="flex  flex-col-reverse lg:flex-row justify-between mt-[30px] items-center ">


      <div data-aos="fade-right" class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">

        <p class="text-[#6C757D] mb-[10px]  font-medium text-[16px] md:text-[18px] lg:text-[20px] leading-[32px]  ">
          Healthcare:
        </p>
        <div class="mb-[10px]">
          <ul class="list-disc list-outside pl-[20px]  space-y-3 ">
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              Appointment scheduling & confirmations
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — reclaim missed visits.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Medication adherence & refills
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — personalized reminders that lift satisfaction and adherence.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Insurance & authorization updates
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — handle repetitive status checks and questions, easing staff load.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Post-visit check-ins
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — empathetic follow-through that builds loyalty and strengthens continuity.
              </span>
            </li>
          </ul>
        </div>

      </div>
      <div data-aos="fade-left" class="w-full lg:w-[45%] ">
        <img class="w-full md:w-[90%] mx-auto h-full md:h-[300px] " loading="lazy"
          src="../../../../assets/Images/AccelonVoice/img8.png" alt="image">
      </div>

    </div>



  </div>

</section>



<section class="">

  <div class="container">

    <div class="flex  flex-col lg:flex-row justify-between items-center ">

      <div data-aos="fade-right" class="w-full lg:w-[45%] ">
        <img class="w-full md:w-[90%] mx-auto h-full md:h-[300px] " loading="lazy"
          src="../../../../assets/Images/AccelonVoice/img9.png" alt="image">
      </div>
      <div data-aos="fade-left" class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">

        <p class="text-[#6C757D] mb-[10px]  font-medium text-[16px] md:text-[18px] lg:text-[20px] leading-[32px]  ">
          Service & Retail:
        </p>
        <div class="mb-[10px]">
          <ul class="list-disc list-outside pl-[20px] space-y-3 ">
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              Customer service & inquiry lines
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — instant answers, fewer queues
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Order & delivery notifications
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — proactive voice call updates.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Payment & subscription reminders
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                — reduced attrition and late payments
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Public Services:
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                Automated citizen hotlines and emergency alerts
              </span>
            </li>
          </ul>
        </div>

      </div>

    </div>



  </div>

</section>
