<section class="mt-0 lg:mt-[60px]">

  <div class="container relative ">

    <img class=" absolute top-[-50px] left-[50%] translate-x-[-50%] z-[-1] "
      src="../../../../assets/Images/landingPage/Untitled@3-1536x735 1.png" alt="image">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto mb-[30px] ">

      <p
        class=" ">
        Every Healthcare Provider Faces the Same Invisible Profit Killer
      </p>
    </div>

    <div class="flex flex-col lg:flex-row gap-4 justify-between items-center">
      <div data-aos="fade-right" class="w-full lg:w-[50%]">
        <img class="w-[80%] mx-auto " src="../../../../assets/Images/landingPage/dna-representation-concept 1.png"
          alt="image about">
      </div>

      <div data-aos="fade-left" class="w-full lg:w-[50%]  text-center lg:text-left ">
        <p
          class="text-[#333333] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[20px] md:leading-[25px] lg:leading-[30px]">
          Our operating framework
          <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal leading-[38px] ">
            isn’t static; it’s a living ecosystem built to scale. It adapts and expands with
            you—whether you’re a single clinic optimizing flow or a multi-region network pursuing global ambitions.
          </span>

        </p>
      </div>
    </div>



  </div>

</section>
