<app-revenuehero
  title="Medical contact center"
  subtitle="Outsourcing service"
  url=""
></app-revenuehero>
<app-competitor></app-competitor>
<app-patients></app-patients>
<app-call-center></app-call-center>
<app-comprehensive></app-comprehensive>
<app-patient-communication></app-patient-communication>
<app-practice-growth></app-practice-growth>
<app-accelon-difference></app-accelon-difference>

<app-faq></app-faq>

<app-practice
  title="Stop Funding Your Competitors’ Growth"
  description="Every day without a professional patient communication layer, you’re handing momentum to competitors who answer faster. Or—you can let the team with proven cross-markets expertise handle it for you."
  buttonText="Speak to a Solutions Expert"
  url=""
></app-practice>
