<section class=" mt-0 lg:mt-[60px]">

  <div class="container relative ">


    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto mb-[30px] ">
      <p
        class=" ">
        Strategic Consulting for Compliance & Operational Growth
      </p>
    </div>

    <div class="w-full h-[520px] card relative " >

      <div data-aos="fade-right" class="absolute bottom-[20px] left-0 right-0 sm:left-[20px] sm:right-[20px] text-center mx-auto " >
        <p class="text-[#FFFFFF] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]  " >
          Navigate accreditation and compliance with confidence. Our consultants deliver gap analyses, CDI training, and RCM improvement programs tailored to local payer rules and regulatory  bodies across your markets—so operational excellence becomes a habit, not a milestone.

        </p>
      </div>

    </div>



  </div>

</section>
