<section class="mt-[60px]">

  <div class="container relative ">


    <div class="title text-center w-full lg:w-[85%] mx-auto mb-[30px] ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Strategic Consulting for Compliance & Operational Growth
      </p>
    </div>

    <div class="w-full h-[520px] card relative " >

      <div class="absolute bottom-[20px] left-[20px] text-center " >
        <p class="text-[#FFFFFF] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]  " >
          Navigate accreditation and compliance with confidence. Our consultants deliver gap analyses, CDI training, and RCM improvement programs tailored to local payer rules and regulatory  bodies across your markets—so operational excellence becomes a habit, not a milestone.

        </p>
      </div>

    </div>



  </div>

</section>
