<section class="relative">

  <img class=" hidden md:block absolute top-[0px] left-[30px]  " src="../../../../assets/Images/About/img3.png" alt="">
  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto relative ">


      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Our Story: Born To Transform Healthcare’s Operating System.
      </p>
    </div>


    <div class="flex  flex-col-reverse lg:flex-row justify-between mt-[30px] items-center ">

      <div class="w-full mb-[30px] lg:mb-0 lg:w-[45%] ">
        <div class="w-fit mx-auto ">
          <img class="" src="../../../../assets/Images/About/img2.png" alt="image">
        </div>
      </div>

      <div class="w-full  lg:w-[45%] ">
        <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%]">
          At Accelon Health, we know the pressure you carry. One day it’s regulatory nuance; the next it’s unforgiving
          rules and shifting requirements. We saw an engine that should fuel growth—Revenue Cycle Management—weighing
          down leaders with cost and complexity instead of delivering clarity and momentum.
        </p>
        <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[6px]">
          So, we rebuilt the way healthcare runs. We’re not another conventional vendor; we’re healthcare strategists,
          certified RCM professionals, and consulting experts who redesigned the operating model from the ground up. RCM
          is the heart, yes—but it beats inside a bigger body: scalable operations, disciplined advisory, patient
          experience that actually connects, and Autopilot Automation under the hood that makes every workflow cleaner
          and faster..
        </p>
        <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[6px]">
          Purpose, in one line: turn operations into financial resilience and everyday excellence.
        </p>
      </div>

    </div>


  </div>

</section>
