<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title  ">
        About the service
      </h2>
      <p class=" ">
        Built for Healthcare, Built For Now
      </p>

    </div>


    <div data-aos="fade-up" class="flex flex-col justify-center items-center mt-[30px]">

      <div class="flex items-center">
        <div class="w-[50%] flex justify-end px-[20px] md:px-[40px] text-[#0B66C3]  ">
          <div class=" w-[24px] h-[24px] md:w-fit">
            <img src="../../../../assets/Images/AccelonAudit/icon1.png" alt="icon">
          </div>
        </div>
        <div class="w-[50%] p-[20px] md:p-[40px] relative border-l-[3px] border-dashed border-l-[#D9D9D9]">
          <div
            class="w-[25px] h-[25px] md:w-[50px] md:h-[50px] flex justify-center items-center bg-[#F5F8FF] rounded-full absolute top-[50%] left-[-13px] md:left-[-26px] translate-y-[-50%] ">
            <div class=" w-[10px] h-[10px] md:w-[15px] md:h-[15px] bg-[#C1B5B566] rounded-full flex justify-center items-center  ">
              <div class="w-[5px] h-[5px] md:w-[8px] md:h-[8px] bg-[#0B66C3] rounded-full ">

              </div>
            </div>
          </div>
          <p
            class=" text-[#6C757D] font-medium text-[10px] md:text-[18px] lg:text-[22px] leading-[15px] md:leading-[140%] ">
            <span class="text-[#1E1E1E] font-semibold ">
              Native By Market: KSA/GCC , Egypt, & U.S.
            </span>
            commercial/government insurance policies
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="w-[50%] p-[20px] md:p-[40px] relative border-r-[3px] border-dashed border-r-[#D9D9D9]">
          <div
            class="w-[25px] h-[25px] md:w-[50px] md:h-[50px] flex justify-center items-center bg-[#F5F8FF] rounded-full absolute top-[50%] right-[-13px] md:right-[-26px] translate-y-[-50%] ">
            <div class=" w-[10px] h-[10px] md:w-[15px] md:h-[15px] bg-[#C1B5B566] rounded-full flex justify-center items-center  ">
              <div class="w-[5px] h-[5px] md:w-[8px] md:h-[8px] bg-[#F08E51] rounded-full ">

              </div>
            </div>
          </div>
          <p
            class=" text-[#6C757D] font-medium text-[10px] md:text-[18px] lg:text-[22px] leading-[15px] md:leading-[140%] ">
            <span class="text-[#1E1E1E] font-semibold ">
              Security & privacy:
            </span>
            healthcare-appropriate controls and encryption (HIPAA-aligned)

          </p>
        </div>
        <div class="w-[50%] flex justify-start px-[20px] md:px-[40px]  ">
          <div class="w- w-[24px] h-[24px] md:fit">
            <img src="../../../../assets/Images/AccelonAudit/icon2.png" alt="icon">
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <div class="w-[50%] flex justify-end px-[20px] md:px-[40px]  ">
          <div class=" w-[24px] h-[24px] md:w-fit">
            <img src="../../../../assets/Images/AccelonAudit/icon3.png" alt="icon">
          </div>
        </div>
        <div class="w-[50%] p-[20px] md:p-[40px] relative border-l-[3px] border-dashed border-l-[#D9D9D9]">
          <div
            class="w-[25px] h-[25px] md:w-[50px] md:h-[50px] flex justify-center items-center bg-[#F5F8FF] rounded-full absolute top-[50%] left-[-13px] md:left-[-26px] translate-y-[-50%] ">
            <div class=" w-[10px] h-[10px] md:w-[15px] md:h-[15px] bg-[#C1B5B566] rounded-full flex justify-center items-center  ">
              <div class="w-[5px] h-[5px] md:w-[8px] md:h-[8px] bg-[#4E8754] rounded-full ">

              </div>
            </div>
          </div>
          <p
            class=" text-[#6C757D] font-medium text-[10px] md:text-[18px] lg:text-[22px] leading-[15px] md:leading-[140%] ">
            <span class="text-[#1E1E1E] font-semibold ">
              Deploy your way:
            </span>
            containerized options, private cloud/VPC, data-residency alignment.
          </p>
        </div>
      </div>

    </div>

    <div class="mt-[30px] text-center " >
      <button  class="btn-gradiented">
        <span>
          Contact Us
        </span>
        <i class="fas fa-arrow-right  ml-2"></i>
      </button>
    </div>



  </div>

</section>
