<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Cairo Hospital Group: 30% Cost Reduction While Scaling
      </p>
    </div>


    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

      <div class="w-full mb-[30px] lg:mb-0 lg:w-[45%] ">
        <div class="w-fit mx-auto ">
          <img class="" src="../../../../assets/Images/CaseStudy/img5.png" alt="medical-coding">
        </div>
      </div>

      <div class="w-full space-y-6 lg:w-[47%] ">
        <div>
          <h2 class="text-[#333333] font-semibold text-[20px] md:text-[24px] leading-[100%] mb-[10px]">
            The Crisis
          </h2>
          <h2 class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] ">
            Local insurance complexity and manual reconciliation consumed ~40% of billing capacity. Growth plans delayed
            due to resource constraints.
          </h2>
        </div>
        <div class="">
          <h2 class="text-[#333333] font-semibold text-[20px] md:text-[24px] leading-[100%] mb-[10px] ">
            What We Did
          </h2>
          <div class="pl-[35px]">
            <ul
              class="list-disc  text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] space-y-2 ">
              <li class="">
                Full healthcare operations outsourcing tuned to local regulatory requirements.
              </li>
              <li>
                Automated eligibility checks and pre-authorizations
              </li>
              <li>
                BI dashboards with predictive analytics for forecasting
              </li>
            </ul>

          </div>
        </div>
        <div class="">
          <h2 class="text-[#333333] font-semibold text-[20px] md:text-[24px] leading-[100%] mb-[10px] ">
            The Results (90 days)
          </h2>
          <div class="pl-[35px]">
            <ul
              class="list-disc  text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] space-y-2 ">
              <li class="">
                <span class="fw-semibold">Administrative costs reduced by 30%</span>
              </li>
              <li>
                <span class="fw-semibold">Billing capacity +40% freed </span> (no new hires)
              </li>
              <li>
                <span class="fw-semibold">Opened 2 new facilities </span>with existing team.
              </li>
              <li>
                <span class="fw-semibold">Expanded to 2 new cities</span> without quality slippage.
              </li>
              <li>
                <span class="fw-semibold">Revenue cycle: 65 days → 38 days</span>
              </li>
            </ul>
          </div>
        </div>

      </div>


    </div>



  </div>

</section>
