<section class="">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Accelon’s Blueprint for Flawless Revenue Operations: All-Inclusive, End-to-End.
      </p>
    </div>

    <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[100%] lg:leading-[140%]">
        We don’t “cover tasks.” We own outcomes. One subscription. One accountable team. One operating rhythm.
      </p>
    </div>

    <div class="flex flex-col lg:flex-row justify-between items-center mt-[30px] ">


      <div class="w-full lg:w-[45%]  ">
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            1) Patient Scheduling & Front Office Support —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              smoother starts, happier patients
            </span>
          </p>
          <p class="text-[#333333] text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px]">
            From day one, we handle appointments and registrations to stabilize flow and improve first-touch
            satisfaction.
          </p>
        </div>
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            2) Real-Time Insurance Eligibility & Pre-Authorizations —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              stop denials at the door

            </span>
          </p>
          <p class="text-[#333333] text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px]">
            Instant verification and swift pre-approvals speed care, build trust, and protect your revenue potential
            before care is delivered.

          </p>
        </div>
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            3) Expert Medical Coding & Charge Capture —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              precision in, reimbursement out


            </span>
          </p>
          <p class="text-[#333333] text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px]">
            Certified coders across ICD-10-CM/AM, SBS/ACHI, CPT/HCPCS, AR-DRG/IR-DRG ensure accurate documentation and
            full, compliant capture—preventing undercoding and avoidable denials.


          </p>
        </div>
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            4) Real-Time Medical & Technical Auditing —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              perfection before submission

            </span>
          </p>
          <p class="text-[#333333] text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px]">
            Pre-submission audits check diagnosis/procedure crosswalks, medical necessity, plan rules, and local payor
            policies—so claims leave clean.

          </p>
        </div>
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            5) Denial Management & A/R Follow-Up —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              leak-proof cash acceleration


            </span>
          </p>
          <p class="text-[#333333] text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px]">
            We monitor denial patterns, appeal intelligently, and pursue balances with discipline—turning stuck claims
            into cleared cash and shrinking your A/R.

          </p>
        </div>
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            6) Payment Reconciliation & Intelligence —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              total financial clarity


            </span>
          </p>
          <p class="text-[#333333] text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px]">
            Every payment accounted for. Dashboards show what’s billed, what’s paid, and what’s pending—so leaders act
            with confidence.

          </p>
        </div>


      </div>

      <div class="w-full lg:w-[50%] relative ">

        <img class="w-[80%] mx-auto " src="../../../../assets/Images/RevenuePage/service_img-2 1.png" alt="image">

        <div class=" w-full lg:w-[90%] mx-auto text-center mt-[40px]">
          <button class="btn-gradient">
            <span>Which solution fits your operation? Find out </span>
            <i class="fas fa-arrow-right ml-2"></i>
          </button>
        </div>

      </div>

    </div>

  </div>

</section>
