<section>

  <div class="container">
    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class=" ">
        Fluent in Business, Fluent in Culture
      </p>
      <p class="desc  ">
        Your 24/7 Multilingual Partner
      </p>

    </div>

    <div data-aos="fade-down" class="text-center " >
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[20px] ">
        Hears the words, understands the meaning—intent, tone, urgency across Arabic dialects and English.
      </p>
    </div>


    <div data-aos="fade-down"
      class="w-full md:w-[90%] lg:w-[60%] mx-auto  grid grid-cols-1 md:grid-cols-2 gap-[50px] mt-[30px]">
      <div  class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card p-[20px] ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonBeauty/img3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            AI Facial Skin Analysis — Science, Not Guesswork
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            Instant diagnostics scan for 10+ skin concerns—pore visibility, hydration cues, texture and more.
            Personalized product pathways aligned to each profile to move customers from “maybe” to “mine.”
            Omni-journey continuity: start at a smart mirror, continue on tablet—keep the routine, keep the sale.
            Impact you can feel:...Read More

          </p>
        </div>
      </div>
      <div  class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card p-[20px] ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/AccelonBeauty/img4.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            AR Virtual Try-On — See It. Love It. Buy It.
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            Live try-on for makeup, jewelry, glasses & more—no mess, all wow.
            Confident purchases reduce hesitation and cut returns.
            Built for premium spaces: elegant on smart mirrors and tablets.

          </p>
        </div>
      </div>




    </div>


  </div>

</section>
