<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title  ">
        Features
      </h2>
      <p
        class=" ">
        The Accelon Difference: Beyond Ordinary. An Operational DNA
      </p>
      <p class="desc" >
        RCM has long been fragmented with uncertain returns. We ended that. Accelon Health installs a seamless revenue
        engine—not a cost center, but the operating backbone that sharpens efficiency, lifts net collections, and
        accelerates profitability. You’re not paying for another service. You’re investing in guaranteed operational
        transformation.
      </p>
    </div>

    <!-- <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
    </div> -->

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-[40px] ">
      <div data-aos="fade-up" class="relative bg-[#000000] rounded-[10px] p-[40px] overflow-hidden group ">

        <!-- الصور في الخلف -->
        <!-- الصورة الأولى -->
        <img
          class="absolute bottom-[-90px] left-[-80px] w-[300px] z-0 transition-all duration-500 group-hover:bottom-[-200px] group-hover:left-[-200px]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <!-- الصورة الثانية -->
        <img
          class="absolute top-[-40px] right-[-25px] w-[250px] z-0 transition-all duration-500 group-hover:top-[-130px] group-hover:right-[-130px]"
          src="../../../../assets/Images/landingPage/Feature/lines.png" alt="">


        <!-- الصندوق اللي في النص -->
        <div class="border-spin backdrop-blur-lg bg-white/10 text-center p-[30px] rounded-[10px] z-10">

          <img class="w-[100px] h-[100px] mx-auto" src="../../../../assets/Images/landingPage/Feature/Group 558.png"
            alt="">

          <p class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[30px]">
            Profitability Accelerator
          </p>
        </div>

      </div>
      <div data-aos="fade-up" data-aos-delay="300" class="relative bg-[#000000] rounded-[10px] p-[40px] overflow-hidden group ">

        <!-- الصور في الخلف -->
        <!-- الصورة الأولى -->
        <img
          class="absolute bottom-[-90px] left-[-80px] w-[300px] z-0 transition-all duration-500 group-hover:bottom-[-200px] group-hover:left-[-200px]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <!-- الصورة الثانية -->
        <img
          class="absolute top-[-40px] right-[-25px] w-[250px] z-0 transition-all duration-500 group-hover:top-[-130px] group-hover:right-[-130px]"
          src="../../../../assets/Images/landingPage/Feature/lines.png" alt="">


        <!-- الصندوق اللي في النص -->
        <div class="border-spin backdrop-blur-lg bg-white/10 text-center p-[30px] rounded-[10px] z-10">

          <img class="w-[100px] h-[100px] mx-auto" src="../../../../assets/Images/landingPage/Feature/Group 557.png"
            alt="">

          <p class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[30px]">
            Efficiency & Net Collections Uplift
          </p>
        </div>

      </div>
      <div data-aos="fade-up" data-aos-delay="600" class="relative bg-[#000000] rounded-[10px] p-[40px] overflow-hidden group ">

        <!-- الصور في الخلف -->
        <!-- الصورة الأولى -->
        <img
          class="absolute bottom-[-90px] left-[-80px] w-[300px] z-0 transition-all duration-500 group-hover:bottom-[-200px] group-hover:left-[-200px]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <!-- الصورة الثانية -->
        <img
          class="absolute top-[-40px] right-[-25px] w-[250px] z-0 transition-all duration-500 group-hover:top-[-130px] group-hover:right-[-130px]"
          src="../../../../assets/Images/landingPage/Feature/lines.png" alt="">


        <!-- الصندوق اللي في النص -->
        <div class="border-spin backdrop-blur-lg bg-white/10 text-center p-[30px] rounded-[10px] z-10">

          <img class="w-[100px] h-[100px] mx-auto" src="../../../../assets/Images/landingPage/Feature/Group 560.png"
            alt="">

          <p class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[30px]">
            Seamless Revenue Engine
          </p>
        </div>

      </div>
    </div>



  </div>

</section>
