<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class="">
        Accuracy Shaped by Healthcare Experts. Speed Scaled by AI.
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          AccelonCode blends deep healthcare expertise with cutting-edge AI—so routine charts code themselves and your
          team handles exceptions.
        </p>
      </div>
    </div>



    <div
      class="w-full md:w-[90%] lg:w-[80%] mx-auto  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[50px] mt-[30px]">
      <div  class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/img1.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Zero Human Intervention, Maximum Accuracy
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            95%+ accuracy with up to 10× (1000%) faster turnaround. 85%+...
            <span class=" font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/img2.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Built for Your Region, Ready for the World
          </h3>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal">
            Pre-loaded with ICD-10-AM/CM, SBS, CPT/HCPCS coding guidelines. Fully...
            <span class=" font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] px-[10px] md:px-[20px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/img3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Full Specialty Coverage
          </h3>

          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            From outpatient encounters to inpatient stays—ready from day one.
          </p>
        </div>
      </div>




    </div>



  </div>

</section>
