<section class="relative" >

  <img class=" hidden md:block absolute top-[-27%] left-[-4%]  " src="../../../../assets/Images/About/img3.png" alt="">


  <div class="container">

    <div class="bg-[#FFFFFF] rounded-[10px] p-[20px] flex flex-col md:flex-row gap-[20px] relative overflow-hidden">
      <div class="w-[100%] md:w-[42%] bg-[#0078C7] p-[30px] rounded-[10px] relative overflow-hidden ">
        <div>

          <h2 class="text-[#FFFFFF] font-semibold text-[20px] md:text-[23px] lg:text-[28px] leading-[100%] ">
            Reach Us Your Way
          </h2>
          <div class="mt-[30px]">
            <h2 class="text-[#FFFFFF] font-medium text-[14px] md:text-[16px] leading-[100%] ">
              KSA Office (Riyadh)
            </h2>
            <p class="text-[#C9C9C9] font-normal text-[14px] md:text-[16px] leading-[100%] my-[10px]">
              3279 Al-Amir Mamdouh bin Abdulaziz
            </p>
            <p class="text-[#C9C9C9] font-normal text-[14px] md:text-[16px] leading-[100%] ">
              Riyadh 7273, KSA
            </p>
          </div>
          <div class="mt-[15px]">
            <h2 class="text-[#FFFFFF] font-medium text-[14px] md:text-[16px] leading-[100%] ">
              Egypt Office (Cairo)
            </h2>
            <p class="text-[#C9C9C9] font-normal text-[14px] md:text-[16px] leading-[100%] my-[10px]">
              41 Ahmed Tayseer
            </p>
            <p class="text-[#C9C9C9] font-normal text-[14px] md:text-[16px] leading-[100%] ">
              Nasr City, Cairo 11757, Egypt
            </p>
          </div>
          <div class="mt-[30px]">
            <h2 class="text-[#FFFFFF] font-semibold text-[14px] md:text-[16px] leading-[100%] ">
              Main Line:
              <span class="font-medium">+966 59 869 8532</span>
            </h2>
          </div>
          <div class="mt-[30px]">
            <h2 class="text-[#FFFFFF] font-semibold text-[14px] md:text-[16px] leading-[100%] ">
              General Email:
              <span class="font-medium"> contact@accelonhealth.com </span>
            </h2>
          </div>
          <div class="mt-[30px]">
            <h2 class="text-[#FFFFFF] font-semibold text-[14px] md:text-[16px] leading-[100%] ">
              Business Hours:
              <span class="font-medium"> Sunday–Thursday, 8:00–18:00 (local) </span>
            </h2>
          </div>
          <div class="mt-[30px]">
            <h2 class="text-[#FFFFFF] font-semibold text-[14px] md:text-[16px] leading-[100%] ">
              Response Time:
              <span class="font-medium"> We reply within 1 business day. </span>
            </h2>
          </div>
        </div>
        <div class="flex gap-5 mt-[80px] ">
          <div class="w-[30px] h-[30px] bg-[#FFFFFF] rounded-full flex justify-center items-center  p-[5px]  ">
            <i class="fa-solid fa-envelope text-[#1C2226] text-[14px] hover:text-[#0078C7] cursor-pointer transition-all duration-150 "></i>
          </div>
          <div class="w-[30px] h-[30px] bg-[#FFFFFF] rounded-full flex justify-center items-center  p-[5px]  ">
            <i class="fa-brands fa-linkedin-in text-[#1C2226] text-[14px] hover:text-[#0078C7] cursor-pointer transition-all duration-150 "></i>
          </div>
        </div>

      <img class=" hidden md:block absolute bottom-[-50px] right-[-30px]  " src="../../../../assets/Images/Contact/img8.png" alt="image">
      <img class=" hidden md:block absolute bottom-[40px] right-[40px] w-[138px] h-[138px] max-w-[138px] max-h-[138px] rounded-full " src="../../../../assets/Images/Contact/img7.png" alt="image">


      </div>
      <div class="flex-1 p-[30px] relative ">
        <form action="">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-[20px]  ">
            <div>
              <label for="fname" class="text-[#000000] block mb-[10px] font-medium text-[16px] leading-[20px] ">
                First Name
              </label>
              <input type="text" id="fname" name="fname"
                class="w-full text-[#011C2A] border-b border-b-[#8D8D8D] font-medium focus:border-b-[#011C2A] outline-none placeholder:text-[#8D8D8D80] placeholder:text-[14px] "
                placeholder="Enter Your First Name">
            </div>
            <div>
              <label for="lname" class="text-[#000000] block mb-[10px] font-medium text-[16px] leading-[20px] ">
                Last Name
              </label>
              <input type="text" id="lname" name="lname"
                class="w-full text-[#011C2A] border-b border-b-[#8D8D8D] font-medium focus:border-b-[#011C2A] outline-none placeholder:text-[#8D8D8D80] placeholder:text-[14px] "
                placeholder="Enter Your Last Name">
            </div>
            <div>
              <label for="email" class="text-[#000000] block mb-[10px] font-medium text-[16px] leading-[20px] ">
                Email
              </label>
              <input type="email" id="email" name="email"
                class="w-full text-[#011C2A] border-b border-b-[#8D8D8D] font-medium focus:border-b-[#011C2A] outline-none placeholder:text-[#8D8D8D80] placeholder:text-[14px] "
                placeholder="Enter Your Email">
            </div>
            <div>
              <label for="phone" class="text-[#000000] block mb-[10px] font-medium text-[16px] leading-[20px] ">
                Phone Number
              </label>
              <input type="number" id="phone" name="phone"
                class="w-full text-[#011C2A] border-b border-b-[#8D8D8D] font-medium focus:border-b-[#011C2A] outline-none placeholder:text-[#8D8D8D80] placeholder:text-[14px] "
                placeholder="Enter Your Phone Number">
            </div>
          </div>
          <div class="mt-[20px]">
            <label for="message" class="text-[#000000] block mb-[10px] font-medium text-[16px] leading-[20px] ">
              Message
            </label>
            <textarea id="message" name="message" rows="1"
              class="w-full text-[#011C2A] border-b border-b-[#8D8D8D] font-medium focus:border-b-[#011C2A] outline-none placeholder:text-[#8D8D8D80] placeholder:text-[14px] "
              placeholder="Enter Your Message"></textarea>
          </div>

          <div class="mt-[30px] text-right ">
            <button [ngStyle]="{ 'box-shadow': '0px 4px 8px 0px #0078C7B3' }"
              class="bg-[#0078C7] text-[#FFFFFF] font-medium text-[14px] md:text-[16px] lg:text-[18px] px-[30px] py-[12px] rounded-[5px] hover:bg-[#005A9E] transition-all duration-300 ">
              Send Message
            </button>
          </div>
        </form>

      </div>
      <img class=" hidden md:block absolute bottom-[-65px] right-[80px]  " src="../../../../assets/Images/Contact/img2.png" alt="image">
    </div>

  </div>

</section>
