<section class="">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Every Unanswered Call Is a Patient Choosing Your Competitor
      </p>
    </div>


    <div class="w-full md:w-[90%] mx-auto h-[550px] card relative mt-[30px]">

      <div class="absolute bottom-[20px] left-[20px] text-center ">
        <p
          class="text-[#FFFFFF] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]   ">
          Your phone rings. Nobody answers. That patient books elsewhere—lifetime value & revenue gone because the front
          desk was busy. Accelon Health’s medical contact center answers every time—multilingual, 24/7/365.

        </p>
      </div>

    </div>


    <div class="text-center mt-[30px] ">
      <button class="btn-gradient w-full md:w-[70%] lg:w-[40%] ">
        <span>Stop Revenue Leakage. Start Here</span>
        <i class="fas fa-arrow-right ml-2"></i>
      </button>
    </div>


  </div>

</section>
