<app-revenuehero
  title="AccelonNote"
  subtitle="Technology solution"
  url=""
></app-revenuehero>

<app-physicians></app-physicians>

<app-clinical-documentation></app-clinical-documentation>

<app-conversation></app-conversation>

<app-calm></app-calm>

<app-powered-by-ai></app-powered-by-ai>

<app-practice
  title="Stop Paying Doctors to Be Typists"
  description="Every hour spent on clinical notes is an hour not spent on patient care. Give your clinicians their day back—and give your operations cleaner claims and faster approvals."
  buttonText="Schedule Your AccelonNotes Demo"
  url=""
></app-practice>
