<section class="bg-[#0B305B]">
  <div class="container flex flex-wrap justify-between  ">
    <div class="w-full md:w-[40%]  lg:w-[30%]">

      <div class="image w-[120px] md:w-[180px]">
        <!-- <img class="w-full" src="assets/Images/landingPage/hero-section/logo.png" alt="logo"> -->
        <img class="w-full" src="../../../../assets/Images/footer/logoWhite.png" alt="logo">
      </div>

      <div class="my-[30px]">
        <p class="text-[#FFFFFF] font-normal text-[16px] md:text-[18px] lg:text-[20px] leading-[22px] ">
          Leap beyond limits with AI. Accelon Health delivers autonomous RCM, medical coding, & patient engagement for
          providers in Saudi Arabia, GCC, Egypt, and the US. Boost revenue. Ensure compliance.
        </p>
      </div>
      <div class="flex gap-3 ">
        <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
          <i class="fa-brands fa-linkedin-in text-[#0B305B] text-[16px]"></i>
        </div>
        <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
          <i class="fa-brands fa-facebook text-[#0B305B] text-[16px]"></i>
        </div>
        <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
          <i class="fa-brands fa-twitter text-[#0B305B] text-[16px]"></i>
        </div>
        <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
          <i class="fa-brands fa-instagram text-[#0B305B] text-[16px]"></i>
        </div>
      </div>
    </div>
    <div class="w-full my-[30px] md:my-0 md:w-[40%]  lg:w-[37%]">
      <h4
        class="text-[#FFFFFF] mb-[20px] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[24px] relative before:absolute before:w-[76px] before:h-[5px] before:bg-[#0078C7] before:bottom-[-5px] ">
        Contact us
      </h4>
      <div>
        <p class="text-[#FFFFFF] font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
          General Email: contact@accelonhealth.com
        </p>
        <div class="my-[20px]">
          <p class="text-[#FFFFFF] font-medium text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
            Direct Phone Numbers:
          </p>
          <ul
            class="list-disc list-inside text-[#FFFFFF] font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
            <li>
              +966 59 869 8532 (KSA)
            </li>
            <li>
              +20 110 200 1134 (Egypt)
            </li>
          </ul>
        </div>
        <div>
          <p class="text-[#FFFFFF] font-medium text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
            Addresses:
          </p>
          <ul
            class="list-disc list-inside text-[#FFFFFF] font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
            <li>
              KSA Office:
              3279, Al-Amir Mamdouh bin Abdulaziz
            </li>
            <li>
              Riyadh, KSA, 7273
            </li>
            <li>
              Egypt Office: 41 Ahmed Tayseer Nasr City, Cairo 11757
            </li>
          </ul>
        </div>
        <p class="text-[#FFFFFF] font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
          Work Email: ahmed.o@accelonhealth.com
        </p>
      </div>
    </div>
    <div class="w-full md:w-[40%]  lg:w-[28%]">
      <h4
        class="text-[#FFFFFF] mb-[20px] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[24px] relative before:absolute before:w-[76px] before:h-[5px] before:bg-[#0078C7] before:bottom-[-5px] ">
        Resources
      </h4>
      <div>
        <button (click)="scrollToTop()" routerLink="/home" class="text-[#FFFFFF] cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
          Home
        </button>
        <div class="my-[20px] text-white font-medium text-[16px] leading-[28px]">
          <p class="mb-2">Outsourcing services</p>

          <div class="">
            <div class="flex items-start gap-2 ">
              <span class="text-white">├─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in  " (click)="scrollToTop()" routerLink="/revenue" >Revenue cycle management</span>
            </div>
            <div class="flex items-start gap-2 ">
              <span class="text-white">├─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/healthcare-consulting" >Healthcare consulting</span>
            </div>
            <div class="flex items-start gap-2 ">
              <span class="text-white">└─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/medical-contact-center" >Medical contact center</span>
            </div>
          </div>
        </div>

        <div class="my-[20px] text-white font-medium text-[16px] leading-[28px]">
          <p class="mb-2">Technology services</p>

          <div class="">
            <div class="flex items-start gap-2 ">
              <span class="text-white">├─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/accelon-note" >Accelonnote</span>
            </div>
            <div class="flex items-start gap-2 ">
              <span class="text-white">├─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/accelon-code" >Acceloncode</span>
            </div>
            <div class="flex items-start gap-2 ">
              <span class="text-white">├─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/accelon-audit" >AccelonAudit</span>
            </div>
            <div class="flex items-start gap-2 ">
              <span class="text-white">├─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/accelon-voice" >AccelonVoice</span>
            </div>
            <div class="flex items-start gap-2 ">
              <span class="text-white">└─&gt;</span>
              <span class="cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in" (click)="scrollToTop()" routerLink="/accelon-beauty" >AccelonBeauty</span>
            </div>
          </div>
        </div>


        <p (click)="scrollToTop()" routerLink="/aboutUs" class="text-[#FFFFFF] cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] my-[10px] ">
          About Us
        </p>
        <p (click)="scrollToTop()" routerLink="/contact" class="text-[#FFFFFF] cursor-pointer hover:text-[#0078C7] transition-all duration-300 ease-in font-normal text-[14px] md:text-[16px] lg:text-[18px] leading-[25px] ">
          Contact Us
        </p>
      </div>
    </div>


  </div>






</section>






