<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Steering Accelon Health Vission
      </p>
    </div>

    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">
      <div class="w-full lg:w-[45%]">
        <div class="w-full text-center px-[20px] py-[50px] border border-[#D7D7D7] bg-[#DDE8FF] rounded-[10px]  "
          [ngStyle]="{ 'box-shadow': '0px 2px 4px 0px #D7D7D7' }">

          <div class="w-[172px] h-[172px] rounded-full mx-auto ">
            <img class="w-full h-full rounded-full" src="../../../../assets/Images/About/img7.png" alt="image">
          </div>

          <div class="my-[20px]">
            <h2 class="text-[#2E2E2E] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[24px]">
              Ayman Ibrahim
            </h2>
            <p class="mt-[20px] text-[#6C757D] font-medium text-[16px] md:text-[18px] lg:text-[20px] leading-[24px]">
              CEO
            </p>
          </div>

          <div class="flex gap-5 w-fit mx-auto ">
            <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
              <i class="fa-solid fa-envelope text-[#1C2226] text-[16px]"></i>
            </div>
            <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
              <i class="fa-brands fa-linkedin-in text-[#1C2226] text-[16px]"></i>
            </div>
          </div>

        </div>
      </div>
      <div class="w-full lg:w-[45%] mt-[30px] lg:mt-0 ">
        <div class="w-full text-center px-[20px] py-[50px] border border-[#D7D7D7] bg-[#DDE8FF] rounded-[10px]  "
          [ngStyle]="{ 'box-shadow': '0px 2px 4px 0px #D7D7D7' }">

          <div class="w-[172px] h-[172px] rounded-full mx-auto ">
            <img class="w-full h-full rounded-full" src="../../../../assets/Images/About/img8.png" alt="image">
          </div>

          <div class="my-[20px]">
            <h2 class="text-[#2E2E2E] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[24px]">
              Ahmed Osama
            </h2>
            <p class="mt-[20px] text-[#6C757D] font-medium text-[16px] md:text-[18px] lg:text-[20px] leading-[24px]">
              COO
            </p>
          </div>

          <div class="flex gap-5 w-fit mx-auto ">
            <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
              <i class="fa-solid fa-envelope text-[#0B305B] text-[16px]"></i>
            </div>
            <div class="w-fit bg-[#FFFFFF] rounded-[8px] p-[5px]  ">
              <i class="fa-brands fa-linkedin-in text-[#0B305B] text-[16px]"></i>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

</section>
