<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        Features
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        From Uncertainty to Accreditation: A Riyadh Hospital’s Story
      </p>
    </div>

    <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[100%] lg:leading-[140%]">
        Facing a CHI audit with inconsistent documentation and coding errors, a leading hospital partner with us.
      </p>
    </div>



    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

      <div class="w-full h-[400px] lg:w-[45%] ">
        <img class="w-full h-full " loading="lazy" src="../../../../assets/Images/healthCare/story.png" alt="image">
      </div>
      <div class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">

        <div class="mb-[10px]">
          <ul class="list-disc list-inside">
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              Our Role:
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                CDI training + RCM system renovation + compliance mapping.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              The Result:
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                Successful accreditation, 20% faster reimbursement, and a team empowered for long-term excellence.
              </span>
            </li>
          </ul>
        </div>

      </div>

    </div>



  </div>

</section>
