<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        Features
      </h2>
      <p
        class="">
        From Uncertainty to Accreditation: A Riyadh Hospital’s Story
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          Facing a CHI audit with inconsistent documentation and coding errors, a leading hospital partner with us.
        </p>
      </div>
    </div>




    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

      <div data-aos="fade-right" class="w-full  md:h-[400px] lg:w-[45%] ">
        <img class="w-full h-full " loading="lazy" src="../../../../assets/Images/healthCare/story.png" alt="image">
      </div>
      <div data-aos="fade-left" class="w-full mt-[30px] lg:mt-0 lg:w-[45%] ">

        <div class="mb-[10px]">
          <ul class="list-disc list-inside">
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              Our Role:
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                CDI training + RCM system renovation + compliance mapping.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              The Result:
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                Successful accreditation, 20% faster reimbursement, and a team empowered for long-term excellence.
              </span>
            </li>
          </ul>
        </div>

      </div>

    </div>



  </div>

</section>
