<section class="">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Proof is in Performance: A Story from Riyadh.
      </p>
    </div>


    <div class="flex flex-col lg:flex-row justify-between items-center mt-[30px] ">


      <div class="w-full lg:w-[45%]  ">
        <p
          class="text-[#6C757D] mb-[10px]  font-semibold text-[16px] md:text-[18px] lg:text-[24px] leading-[32px]  ">
          Case Highlight: Saudi Polyclinic
        </p>
        <div class="mb-[10px]">
          <p
            class="text-[#333333] font-bold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            Challenges:
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
              High claim rejections, inaccurate coding, delayed reimbursements.
            </span>
          </p>
        </div>
        <div>
          <p
            class="text-[#333333] font-bold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            Our Solution:
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
              End-to-end RCM with real-time eligibility, precise medical coding, and a strategic denials management
              approach.
            </span>
          </p>
        </div>
        <div class="mt-[10px]" >
          <p
            class="text-[#333333] font-bold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px] mb-[8px] ">
            The Results:
          </p>
          <ul class="list-disc list-inside space-y-1 ">
            <li>
              40% fewer coding-related denials.
            </li>
            <li>
              25% monthly revenue uplift.
            </li>
            <li>
              50% reduction in backlog.
            </li>
            <li>
              Improved staff satisfaction & patient retention.
            </li>
          </ul>
        </div>
        <div class="mt-[10px]" >
          <p
            class="text-[#333333] font-bold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px] mb-[8px] ">
            Benchmarks We’ll Hit—Together
          </p>
          <ul class="space-y-1 ">
            <li>
              Net Collection Rate: 95%+
            </li>
            <li>
              Clean Claim Ratio: 99%+
            </li>
            <li>
              Significant Revenue Increase: ~25%
            </li>
          </ul>
        </div>


      </div>

      <div class="w-full lg:w-[50%] relative ">

        <img class="w-[80%] mx-auto " src="../../../../assets/Images/RevenuePage/muslim-guy-checking-charts-data 1.png"
          alt="image">

      </div>

    </div>



  </div>

</section>
