<section class="bg-[#FEFEFE]">

  <div class="">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        Our standards
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Powered By innovation, Backed By Compliance
      </p>
    </div>

    <div class="mt-[50px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
      <div class="w-fit">
        <img class="w-[80%]" src="../../../../assets/Images/landingPage/partenrOne.png" alt="Images">
      </div>
      <div class="w-fit">
        <img class="w-[80%]" src="../../../../assets/Images/landingPage/partentfive.png" alt="Images">
      </div>
      <div class="w-fit">
        <img class="w-[80%]" src="../../../../assets/Images/landingPage/partenrThree.png" alt="Images">
      </div>
      <div class="w-fit">
        <img class="w-[80%]" src="../../../../assets/Images/landingPage/partenrsix.png" alt="Images">
      </div>


    </div>




  </div>

</section>
