<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        The Accelon Promise
      </p>
    </div>

    <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[100%] lg:leading-[140%]">
        We’re an investment in your growth, not an added cost. Streamlined operations accelerate profit. Strong
        compliance protects your reputation. Elevated engagement compounds lifetime value. Less friction. Smarter
        workflows. Happier patients.
      </p>
    </div>

    <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[20px] ">
      You will experience the Accelon difference through:
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-[20px] ">
      <div class="relative bg-[#000000] rounded-[10px] p-[40px] overflow-hidden group ">

        <!-- الصور في الخلف -->
        <!-- الصورة الأولى -->
        <img
          class="absolute bottom-[-90px] left-[-80px] w-[300px] z-0 transition-all duration-500 group-hover:bottom-[-200px] group-hover:left-[-200px]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <!-- الصورة الثانية -->
        <img
          class="absolute top-[-40px] right-[-25px] w-[250px] z-0 transition-all duration-500 group-hover:top-[-130px] group-hover:right-[-130px]"
          src="../../../../assets/Images/landingPage/Feature/lines.png" alt="">


        <!-- الصندوق اللي في النص -->
        <div class="border-spin backdrop-blur-lg bg-white/10 text-center p-[30px] rounded-[10px] z-10">

          <img class=" mx-auto" src="../../../../assets/Images/About/img9.png"
            alt="">

          <p class="text-white font-bold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[30px]">
            Financial Resilience
          </p>

          <p class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[20px]">
            Significant revenue uplift and accelerated cash flow.
          </p>
        </div>

      </div>
      <div class="relative bg-[#000000] rounded-[10px] p-[40px] overflow-hidden group ">

        <!-- الصور في الخلف -->
        <!-- الصورة الأولى -->
        <img
          class="absolute bottom-[-90px] left-[-80px] w-[300px] z-0 transition-all duration-500 group-hover:bottom-[-200px] group-hover:left-[-200px]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <!-- الصورة الثانية -->
        <img
          class="absolute top-[-40px] right-[-25px] w-[250px] z-0 transition-all duration-500 group-hover:top-[-130px] group-hover:right-[-130px]"
          src="../../../../assets/Images/landingPage/Feature/lines.png" alt="">


        <!-- الصندوق اللي في النص -->
        <div class="border-spin backdrop-blur-lg bg-white/10 text-center p-[30px] rounded-[10px] z-10">

          <img class=" mx-auto" src="../../../../assets/Images/About/img10.png"
            alt="">

          <p class="text-white font-bold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[30px]">
            Operational Serenity
          </p>

          <p class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[20px]">
            Streamlined workflows that reduce stress and errors.
          </p>
        </div>

      </div>
      <div class="relative bg-[#000000] rounded-[10px] p-[40px] overflow-hidden group ">

        <!-- الصور في الخلف -->
        <!-- الصورة الأولى -->
        <img
          class="absolute bottom-[-90px] left-[-80px] w-[300px] z-0 transition-all duration-500 group-hover:bottom-[-200px] group-hover:left-[-200px]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <!-- الصورة الثانية -->
        <img
          class="absolute top-[-40px] right-[-25px] w-[250px] z-0 transition-all duration-500 group-hover:top-[-130px] group-hover:right-[-130px]"
          src="../../../../assets/Images/landingPage/Feature/lines.png" alt="">


        <!-- الصندوق اللي في النص -->
        <div class="border-spin backdrop-blur-lg bg-white/10 text-center p-[30px] rounded-[10px] z-10">

          <img class=" mx-auto" src="../../../../assets/Images/About/img11.png"
            alt="">

          <p class="text-white font-bold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[30px]">
            Strategic Clarity
          </p>

          <p class="text-white font-semibold text-[16px] md:text-[18px] lg:text-[20px] leading-[100%] mt-[20px]">
            Data-driven insights that guide your smartest decisions.
          </p>
        </div>

      </div>
    </div>



  </div>

</section>
