<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p class="">
        From Patient Support to Practice Growth
      </p>

      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p
          class="desc">
          We don’t just answer calls—we fill your schedule.
        </p>
      </div>
    </div>


    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

      <div data-aos="fade-right" class="w-fit mx-auto lg:h-[400px] lg:w-[45%] ">
        <img class="w-full  " loading="lazy" class="" src="../../../../assets/Images/medicalContactCenter/healty.png" alt="Images">
      </div>
      <div data-aos="fade-left" class="w-full mt-[20px] lg:mt-0 lg:w-[45%] ">

        <div class="mb-[10px]">
          <ul class="list-disc list-inside space-y-3 ">
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">

              Service awareness campaigns
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                for new clinics, specialties, and services.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Targeted outreach
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                to re-engage inactive patients and close care gaps.
              </span>
            </li>
            <li
              class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
              Adherence and refills
              <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium  ">
                reminders that keep care on track.
              </span>
            </li>
          </ul>
        </div>

      </div>

    </div>


  </div>

</section>
