<section class="relative">

  <img class=" hidden md:block absolute h-[100%] top-[-50%] left-[0px] z-[-1] rotate-180 "
    src="../../../../assets/Images/landingPage/hero-section/Eclipse.png" alt="">

  <img class=" hidden md:block absolute top-[30px] left-[50px] w-[100px]  "
    src="../../../../assets/Images/landingPage/hero-section/twemoji_dna.png" alt="">

  <img class=" hidden md:block  absolute top-[15%] right-[10%] w-[50px]  "
    src="../../../../assets/Images/landingPage/hero-section/star2-img.png" alt="">



  <img class=" hidden md:block absolute top-[20px] right-[30%] w-[50px]  "
    src="../../../../assets/Images/landingPage/hero-section/star-img.png" alt="">


  <img class=" hidden md:block absolute top-[-50px] left-[60px] w-[50px] z-[3] "
    src="../../../../assets/Images/landingPage/hero-section/star3-img.png" alt="">



  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class="">
        Expert Consulting That Builds Stronger, More Profitable Healthcare Organizations
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          Accreditation. Compliance. Revenue optimization. Navigate it all with confidence. Accelon Consulting delivers
          the strategic blueprint and hands-on execution to future-proof your operations.
        </p>
      </div>
    </div>



    <div data-aos="fade-right" class="w-full h-[200px] md:h-[300px] lg:h-[520px] mt-[30px] card relative ">
      <img class="w-full md:w-[90%] mx-auto  h-full " loading="lazy"
        src="../../../../assets/Images/landingPage/doctor.png" alt="image">
    </div>

    <div data-aos="fade-left" class="mt-[30px] text-center ">
      <button class="btn-gradient  ">
        <span class="text-[10px] sm:text-[14px] md:text-[16px] " > From Use Case to ROI — Request a Strategy Session</span>
        <i class="fas fa-arrow-right ml-2"></i>
      </button>
    </div>




  </div>

</section>
