<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        Expert Consulting That Builds Stronger, More Profitable Healthcare Organizations
      </p>
    </div>

    <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
      <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[100%] lg:leading-[140%]">
        Accreditation. Compliance. Revenue optimization. Navigate it all with confidence. Accelon Consulting delivers
        the strategic blueprint and hands-on execution to future-proof your operations.
      </p>
    </div>


    <div class="w-full h-[520px] mt-[30px] card relative ">
      <img class="w-full md:w-[90%] mx-auto h-full " loading="lazy" src="../../../../assets/Images/landingPage/doctor.png" alt="image">
    </div>

    <div class="mt-[30px] text-center ">
      <button class="btn-gradient  ">
        <span> From Use Case to ROI — Request a Strategy Session</span>
        <i class="fas fa-arrow-right ml-2"></i>
      </button>
    </div>




  </div>

</section>
