<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class="">
        Your Blueprint for Operational Excellence
      </p>
      <div class="text-center mt-[20px] w-full lg:w-[90%] mx-auto ">
        <p class="desc">
          We don’t just advise—we embed capability. Our portfolio is designed to build resilience, drive efficiency, and
          make compliance a habit across your organization.
        </p>
      </div>
    </div>


    <div class="w-full md:w-[90%] lg:w-[80%] mx-auto  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[50px] mt-[30px]">
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/Vector.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Mapping Services
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            From internal Codes to Payer-perfect Clarity
          </p>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            Translate internal service codes...<span class="font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/Vector2.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Saudi CHI Accreditation Preparation
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Achieve Accreditation with Confidence
          </p>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            From gap analysis and mock surveys...<span class="font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/vector3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            RCM Improvement Programs
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Achieve Accreditation with Confidence
          </p>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            Go beyond basic billing. We...<span class="font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/vector4.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Clinical Documentation Improvement (CDI) Training
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            From internal Codes to Payer-perfect Clarity
          </p>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            Clinician-friendly training that...<span class="font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/vector5.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Business Intelligence Integration
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Data-Driven Decisions, Predictable Growth
          </p>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            Claims analytics and role-based...<span class="font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/healthCare/vector6.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Learning Management System (LMS)
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Continuous Learning, Lifelong Compliance
          </p>
          <p class="text-[#0078C7] mt-[10px] text-[14px] font-normal cursor-pointer">
            24/7 courses localized for KSA/GCC...<span class="font-semibold">Read More</span>
          </p>
        </div>
      </div>



    </div>





  </div>

</section>
