<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class=" ">
        Comprehensive Support. Exceptional Experience.
      </p>
    </div>


    <div
      class="grid grid-cols-1 md:grid-cols-2 w-full gap-[30px] md:gap-[70px] mt-[30px] md:w-[80%] lg:w-[50%] mx-auto ">
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/medicalContactCenter/Vector.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Visit Scheduling & Management
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            End-to-end booking, confirmations, and smart reminders that stabilize calendars and reclaim lost visits.
            ...<span class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/medicalContactCenter/vector2.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Live Patient Inquiries
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Round-the-clock coverage for clinical and administrative questions, with adaptive scripts and clear
            escalation paths....<span class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/medicalContactCenter/Vector3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Patient Education & Follow-ups
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            Empathetic post-visit calls, instructions, results notifications, and adherence follow-ups delivered in the
            patient’s dialect....<span class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/medicalContactCenter/vector4.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Experience Optimization
          </h3>
          <p class="text-[#2E2E2E] mt-[10px] text-[14px] font-normal">
            We capture feedback, resolve concerns, and surface insights to improve access and retention—without adding
            headcount....<span class="text-[#0078C7] cursor-pointer font-semibold">Read More</span>
          </p>
        </div>
      </div>




    </div>



  </div>

</section>
