<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        What to Expect
      </p>
    </div>



    <div
      class="w-full md:w-[95%] mx-auto  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[30px] mt-[30px]">
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/Contact/img3.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            A Listening Ear
          </h3>
          <p class="text-[#676767] mt-[10px] text-[14px] font-normal">
            we start with your context, not our pitch.
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/Contact/img4.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Expert Insight
          </h3>
          <p class="text-[#676767] mt-[10px] text-[14px] font-normal">
            1.honest assessment and clear recommendations.
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/Contact/img5.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Tailored Solutions
          </h3>

          <p class="text-[#676767] mt-[10px] text-[14px] font-normal">
            right-sized for your organization and market.
          </p>
        </div>
      </div>
      <div class="bg-[#FFFFFF] shadow-sm rounded-md py-[25px] card ">
        <div class="bg-[#0078C7] rounded-[8px] mx-auto w-[70px] h-[70px] flex justify-center items-center"
          style="box-shadow: 6px 10px 10px #0078C752;">
          <img class="w-[30px]" src="../../../../assets/Images/Contact/img6.png" alt="image" />
        </div>

        <div class="mt-[10px] text-center ">
          <h3 class="text-[#2E2E2E] text-[16px] font-semibold">
            Ongoing Partnership
          </h3>

          <p class="text-[#676767] mt-[10px] text-[14px] font-normal">
            measurable outcomes, not one-off fixes.
          </p>
        </div>
      </div>




    </div>



  </div>

</section>
