<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        How a Riyadh Polyclinic Achieved 40% Revenue Growth in 6 Months
      </p>
    </div>


    <div class="flex  flex-col lg:flex-row justify-between mt-[30px] items-center ">

      <div class="w-full mb-[30px] lg:mb-0 lg:w-[45%] ">
        <div class="w-fit mx-auto ">
          <img class="" src="../../../../assets/Images/CaseStudy/img2.png" alt="medical-coding">
        </div>
      </div>
      <div class="w-full space-y-6 lg:w-[45%] ">
        <div class="">
          <h2 class="text-[#333333] font-semibold text-[20px] md:text-[24px] leading-[100%] mb-[20px]">
            The Challenge:
          </h2>

          <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mb-[25px] ">
            A respected 20-physician clinic in Riyadh faced mounting operational pressures:
          </p>
          <ul
            class="list-disc list-inside text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] space-y-2">
            <li class="">
              35% claim rejection rate draining revenue.
            </li>
            <li>
              90-day reimbursement cycles straining cash flow
            </li>
            <li>
              Staff overwhelmed by manual processes
            </li>
            <li>
              CHI accreditation deadlines looming
            </li>
          </ul>
        </div>
        <div class="">
          <h2 class="text-[#333333] font-semibold text-[20px] md:text-[24px] leading-[100%] mb-[25px] ">
            What We Did
          </h2>
          <ul
            class="list-disc list-inside text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] space-y-2 ">
            <li class="">
              End-to-end RCM outsourcing with Saudi-specific RCM expertise.
            </li>
            <li>
              AccelonCode for autonomous, high-accuracy coding
            </li>
            <li>
              Accreditation preparation (policies, mock surveys) and targeted training
            </li>
            <li>
              Real-time performance dashboards for continuous improvement
            </li>
          </ul>
        </div>
        <div class="">
          <h2 class="text-[#333333] font-semibold text-[20px] md:text-[24px] leading-[100%] mb-[25px] ">
            Results In 6 Months:
          </h2>
          <ul
            class="list-disc list-inside text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] space-y-2 ">
            <li class="">
              40% revenue increase
            </li>
            <li>
              Claim rejection rate dropped from 35% to 5%.
            </li>
            <li>
              Reimbursement cycles shortened from 90 to 45 days
            </li>
            <li>
              Successful CHI accreditation was achieved 2 months early.
            </li>
            <li>
              Staff satisfaction +60% (less admin drag)
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="mt-[30px] p-[40px] rounded-[10px] bg-[#94D3F129]  "
      [ngStyle]="{'box-shadow': '0px 2px 4px 0px #D9D9D9'}">
      <div class="w-full md:w-[80%] mx-auto flex gap-3">
        <img src="../../../../assets/Images/CaseStudy/img3.png" alt="image"
          class="w-[40px] h-[40px] min-w-[40px] min-h-[40px] ">
        <p class="pt-[10px] text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[38px]">
          "Accelon Health didn't feel like another conventional vendor—they felt like part of our team. They understood
          Saudi healthcare challenges better than we did!"
        </p>
      </div>
      <div class="text-center">
        <p class="mt-[40px]  text-[#6C757D] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[38px]">
          Dr. Abdullah Al Mamun, Managing Director
        </p>
      </div>

    </div>

  </div>

</section>
