<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        More Than Time Saved—Care, Cashflow, and Calm
      </p>
    </div>


    <div class="mt-[30px] ">

      <div class="w-full ">
        <div class="mb-[10px] space-y-4 ">
          <div class="flex gap-2">
            <div
              class="w-[50px] h-[50px] min-w-[50px] min-h-[50px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/accelonNote/img7.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Physicians reclaim 2 hours daily
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  : See 20-30% more patients with the same team. Or let them leave on time once.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[50px] h-[50px] min-w-[50px] min-h-[50px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/accelonNote/img8.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Insurance approvals accelerate
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  : Submitting complete documentation instantly means pre-authorizations are approved 40% faster.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2">
            <div
              class="w-[50px] h-[50px] min-w-[50px] min-h-[50px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/accelonNote/img9.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Coding accuracy jump
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  : Notes capture clinical specificity that supports proper coding, reducing denials and maximizing
                  reimbursement.
                </span>
              </p>
            </div>
          </div>
          <div class="flex gap-2 items-start">
            <div
              class="w-[50px] h-[50px] min-w-[50px] min-h-[50px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/accelonNote/img10.png" alt="image">
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Lower burnout, higher satisfaction
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  : clinicians practice medicine, not paperwork
                </span>
              </p>
            </div>
          </div>

        </div>


      </div>

    </div>





  </div>

</section>
