<section class="bg-red">

  <div class="container">

    <div class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%] ">
        About the service
      </h2>
      <p
        class="text-[#1E1E1E] mt-[20px]  font-semibold text-[24px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%] ">
        More Than Technology—A Retail Revolution
      </p>
    </div>

    <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mt-[30px] ">
      AccelonBeauty understands that beauty retail demands both technological sophistication and cultural nuance.
    </p>

    <div class="mt-[30px] ">

      <div class="w-full md:w-[80%] mx-auto ">

        <p class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mb-[20px]" >
          Our Edge:
        </p>

        <div class="mb-[10px] space-y-4 ">
          <div class="flex items-center gap-4">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img6.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Multilingual interface
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  supporting Arabic and English
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img8.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Cultural customization
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  for regional beauty preferences
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img7.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Scalable from single stores
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  to multi-location chains
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4 ">
            <div
              class="w-[34px] h-[34px] min-w-[34px] min-h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img9.png" alt="image">
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Luxury-grade experience
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  at accessible pricing
                </span>
              </p>
            </div>
          </div>

        </div>


      </div>

    </div>





  </div>

</section>
