<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title ">
        About the service
      </h2>
      <p
        class=" ">
        More Than Technology—A Retail Revolution
      </p>
      <p class="desc">
        AccelonBeauty understands that beauty retail demands both technological sophistication and cultural nuance.
      </p>
    </div>


    <div class="mt-[30px] ">

      <div data-aos="fade-right" class="w-full md:w-[80%] mx-auto ">

        <p class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[120%] mb-[20px]" >
          Our Edge:
        </p>

        <div class="mb-[10px] space-y-4 ">
          <div class="flex items-center gap-4">
            <div
              class="w-[24px] h-[24px] md:w-[34px] md:h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img6.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Multilingual interface
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  supporting Arabic and English
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-[24px] h-[24px] md:w-[34px] md:h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img8.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Cultural customization
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  for regional beauty preferences
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-[24px] h-[24px] md:w-[34px] md:h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img7.png" alt="image">
            </div>
            <div>
              <p
                class="text-[#333333] font-semibold  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Scalable from single stores
                <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal  ">
                  to multi-location chains
                </span>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-4 ">
            <div
              class="w-[24px] h-[24px] md:w-[34px] md:h-[34px] rounded-full flex justify-center items-center shrink-0">
              <img class="w-full h-full" src="../../../../assets/Images/AccelonBeauty/img9.png" alt="image">
            </div>

            <div>
              <p
                class="text-[#333333] font-semibold text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[50px]">
                Luxury-grade experience
                <span class="text-[16px] md:text-[18px] lg:text-[20px] font-normal">
                  at accessible pricing
                </span>
              </p>
            </div>
          </div>

        </div>


      </div>

    </div>





  </div>

</section>
