<app-revenuehero
  title="Healthcare Consulting"
  subtitle="Outsourcing solution"
  url=""
></app-revenuehero>
<app-expert-consulting></app-expert-consulting>
<app-compliance></app-compliance>
<app-excellence></app-excellence>
<app-expertise></app-expertise>
<app-uncertainty></app-uncertainty>
<app-practice
  title="Ready to Lead—Not Just Comply?"
  description="Trade uncertainty for operating confidence. Whether you’re preparing for CHI accreditation, aligning to UHIA, or optimizing U.S. operations, let’s build a foundation that grows with you."
  buttonText="Book a Free Consultation Now"
  url=""
></app-practice>
