/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}



h1 ,h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F8FF !important ;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

@media (min-width: 1280px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}


.btn-gradient {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #F9FAFB;
  border: 2px solid #0078C7;
  border-radius: 9999px;
  background-color: #0078C7;
  overflow: hidden;
  transition: color 0.5s ease;
}

.btn-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 0;
  transition: all 0.5s ease;
}

.btn-gradient:hover::before {
  left: 0;
}

.btn-gradient span,
.btn-gradient i {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
}

.btn-gradient:hover span,
.btn-gradient:hover i {
  color: #0078C7;
}


@media (min-width: 768px) {
  .btn-gradient {
    font-size: 20px;
  }
}

/*  */

.btn-gradiented {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #0078C7;
  border: 2px solid #0078C7;
  border-radius: 9999px;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: color 0.5s ease;
}

.btn-gradiented::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #0078C7;
  z-index: 0;
  transition: all 0.5s ease;
}

.btn-gradiented:hover::before {
  left: 0;
}

.btn-gradiented span,
.btn-gradiented i {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
}

.btn-gradiented:hover span,
.btn-gradiented:hover i {
  color: #FFFFFF;
}

.btn-gradient i,
.btn-gradiented i {
  rotate: -45deg;
  transition: rotate 0.5s ease;
}

.btn-gradient:hover i,
.btn-gradiented:hover i {
  rotate: 0deg;
}


@media (min-width: 768px) {
  .btn-gradiented {
    font-size: 20px;
  }
}

@media (max-width: 512px) {
  .btn-gradiented span {
    font-size: 12px;
  }
}





.name-title {
  position: relative;
  display: inline-block; /* مهم عشان before/after يظهروا بشكل صحيح */
}

.name-title::before,
.name-title::after {
  content: "";
  position: absolute;
  top: 50%; /* للتمركز عمودي */
  width: 20px; /* العرض المطلوب */
  height: 10px; /* الارتفاع المطلوب */
  transform: translateY(-50%);
}

.name-title::before {
  left: -40px;
  background: linear-gradient(90deg, rgba(0, 120, 199, 0.09) 0%, rgba(0, 120, 199, 0.69) 100%);
}

.name-title::after {
  right: -40px;
  background: linear-gradient(90deg, rgba(0, 120, 199, 0.69) 0%, rgba(0, 120, 199, 0.09) 100%);
}


.title h2 {
  @apply text-[#0078C7] font-normal text-[20px] md:text-[24px] leading-[100%];
}
.title p {
  @apply text-[#1E1E1E] mt-[20px]  font-semibold text-[20px] md:text-[32px] lg:text-[40px] leading-[100%] lg:leading-[130%];
}
.title .desc{
  @apply text-[#333333] font-normal text-[16px] md:text-[20px] lg:text-[24px] leading-[20px] md:leading-[25px] lg:leading-[140%]
}
