.btn-gradiented {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #0078C7;
  border: 2px solid #0078C7;
  border-radius: 9999px;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: color 0.5s ease;
}

.btn-gradiented::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #0078C7;
  z-index: 0;
  transition: all 0.5s ease;
}

.btn-gradiented:hover::before {
  left: 0;
}

.btn-gradiented span,
.btn-gradiented i {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
}

.btn-gradiented:hover span,
.btn-gradiented:hover i {
  color: #FFFFFF;
}


@media (min-width: 768px) {
  .btn-gradiented {
    font-size: 20px;
  }
}
