<section class="mt-0 lg:mt-[60px]">

  <div class="container relative ">


    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto mb-[30px] ">
      <p class="">
        Quiet Automation, Loud Results
        Invisible, on-purpose automation that lifts every workflow:
      </p>
      <p class="desc ">
        Most vendors handle pieces of the puzzle. We run the whole board—end to end, from first appointment to cash in
        bank. Our all-inclusive RCM outsourcing works across the entire flow: patient scheduling and real-time
        eligibility, precision medical coding, pre-submission auditing and clean claim submission, payment
        reconciliation, and denial recovery.
      </p>
    </div>

    <div class="flex flex-col lg:flex-row justify-between items-center">

      <div data-aos="fade-right" class="w-full lg:w-[50%] relative ">

        <img class="absolute top-[50px] left-[20px] w-[180%] z-[-1]"
          src="../../../../assets/Images/landingPage/Feature/Ellipse 2.png" alt="">

        <img class="   absolute top-[20%] left-[20%] w-[50px]  "
          src="../../../../assets/Images/landingPage/hero-section/star3-img.png" alt="">

        <img class=" hidden lg:block absolute bottom-[-80px] -translate-x-1/2 left-[30%] w-[50px]  "
          src="../../../../assets/Images/landingPage/star-White-img.png" alt="">

        <img class="w-[80%] mx-auto " src="../../../../assets/Images/landingPage/Mask group.png" alt="image about">
      </div>
      <div data-aos="fade-left" class="w-full lg:w-[45%] mt-[20px] lg:mt-0  ">
        <div>
          <p
            class="text-[#333333] font-medium  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            AccelonNote —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-[38px] ">
              faster clinical notes and pre-visit abstracts with zero disruption to patient care.
            </span>
          </p>
          <p
            class="text-[#333333] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            AccelonCode —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal leading-[38px] ">
              autonomous coding at 95%+ accuracy, delivering consistent, 10x faster turnarounds.

            </span>
          </p>
          <p
            class="text-[#333333] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            AccelonAudit —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal leading-[38px] ">
              re-submission checks that prevent rejections before they happen.

            </span>
          </p>
          <p
            class="text-[#333333] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            AccelonVoice —
            <span class=" text-[16px] md:text-[18px] lg:text-[20px] font-normal leading-[38px] ">
              24/7 patient communication automation in Arabic/English across 20+ dialects.

            </span>
          </p>
          <p
            class="text-[#6C757D] font-normal  text-[18px] md:text-[20px] lg:text-[24px] leading-[25px] lg:leading-[30px]">
            We don’t just answer calls—we fill your schedule.
          </p>
        </div>

        <div class=" w-full lg:w-[90%] mx-auto text-center mt-[40px]">
          <button class="btn-gradiented">
            <span>Which solution fits your operation? Find out </span>
            <i class="fas fa-arrow-right  ml-2"></i>
          </button>
        </div>

      </div>
    </div>



  </div>

</section>
