<section class="bg-red">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title  ">
        About the service
      </h2>
      <p
        class="">
        The Heartbeat of Modern Healthcare, Powered by Partnership.
      </p>
    </div>


    <div class="flex  flex-col-reverse lg:flex-row justify-between mt-[30px] items-center ">
      <div data-aos="fade-right" class="w-full  lg:w-[45%] ">
        <p class="text-[#333333] font-normal text-[18px] md:text-[20px] lg:text-[24px] leading-[120%]">
          Behind every great provider is a partner who turns operational complexity into clinical clarity. That’s
          Accelon Health—the living healthcare engine that blends full-cycle RCM, consulting, and technology so revenue
          flows and care teams can finally breathe again.

        </p>
        <div class="mt-[20px] text-center lg:text-left ">
          <button class="btn-gradient">
            <span class="text-[12px] md:text-[16px] " >Book Your Complimentary Strategy Session</span>
            <i class="fas fa-arrow-right ml-2"></i>
          </button>

        </div>
      </div>
      <div data-aos="fade-left" class="w-full mb-[30px] lg:mb-0 lg:w-[45%] ">
        <div class="w-fit mx-auto ">
          <img class="" src="../../../../assets/Images/About/img1.png" alt="medical-coding">
        </div>
      </div>
    </div>


  </div>

</section>
