<section class="bg-[#FEFEFE]">

  <div class="container">

    <div data-aos="fade-down" class="title text-center w-full lg:w-[85%] mx-auto ">
      <h2 class="name-title  ">
        Trusted Partners
      </h2>
      <p
        class=" ">
        Our Suppliers
      </p>
    </div>

    <div class="mt-[50px]">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let partner of partners">
          <ng-template carouselSlide>
            <div class="w-fit flex justify-center">
              <img class="w-[100%]" [src]="partner.src" [alt]="partner.alt">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>




  </div>

</section>
